<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.papang.perfume">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_1"
        android:label="PAPANG"
        android:roundIcon="@mipmap/ic_logo_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <activity android:name="com.papang.perfume.WebViewActivity"></activity>
        <activity android:name="com.papang.perfume.AddressViewActivity" />
        <activity android:name="com.papang.perfume.NoResultActivity" />
        <activity android:name="com.papang.perfume.ResetPwActivity" />
        <activity android:name="com.papang.perfume.FindPwActivity" />
        <activity android:name="com.papang.perfume.FoundEmailActivity" />
        <activity android:name="com.papang.perfume.FindIdActivity" />
        <activity android:name="com.papang.perfume.PhoneNumberActivity" />
        <activity android:name="com.papang.perfume.LoginActivity" />
        <activity android:name="com.papang.perfume.JoinActivity" />
        <activity
            android:name="com.papang.perfume.review.AllReviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.papang.perfume.review.DetailReviewActivity" />
        <activity android:name="com.papang.perfume.review.ReviewWriteActivity" />
        <activity android:name="com.papang.perfume.SettingDetail4Activity" />
        <activity android:name="com.papang.perfume.SettingDetail3Activity" />
        <activity android:name="com.papang.perfume.SettingDetail2Activity" />
        <activity android:name="com.papang.perfume.SettingDetail1Activity" />
        <activity android:name="com.papang.perfume.SettingActivity" />
        <activity android:name="com.papang.perfume.EditMyinfoActivity" />
        <activity android:name="com.papang.perfume.NotificationActivity" />
        <activity android:name="com.papang.perfume.ParticipatedEventActivity" />
        <activity android:name="com.papang.perfume.AllResultProductActivity" />
        <activity android:name="com.papang.perfume.search.SearchActivity" />
        <activity android:name="com.papang.perfume.ProductDetailsActivity" />
        <activity android:name="com.papang.perfume.QuestionActivity" />
        <activity android:name="com.papang.perfume.AppSatisfactionActivity" />
        <activity
            android:name="com.papang.perfume.RecommendationActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.papang.perfume.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.papang.perfume.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao4683cc942997cc8d186c5a3f1b3e9242" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.papang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>
    <uses-feature android:name="android.hardware.camera" />

</manifest>